*.zip
.DS_Store
**/.DS_Store
.vscode/

/progress100/
/progress200/
/progress300/
/progress400/

/gallery/
/gallery-completed/
/grid_flags/
/positioning/
/signup/
/wwr-part2/
/wwr-part3/

/flags.html
/ice-challenge-01.html
/ice-challenge-02.html
/ice-challenge-03.html
